{% extends 'base.html' %}
{% block content %}
    <h1>Наші кімнати</h1>
    <div class="rooms-container">
        {% for room in rooms %}
            <div class="room-card">
                <img src="{{ room.photo.url }}">
                <h3>Кімната №{{ room.number }} ({{ room.category }})</h3>
                <p>Місць: {{ room.capacity }}</p>
                <p>Ціна: {{ room.price }} грн.</p>
                <p><a href="{% url 'booking'  %}?room_id={{ room.id }}&start_date={{ start_date }}&end_date={{ end_date }}">Забронювати</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}